{% extends "./layout.html" %}

{% from "../macros/search-box.html" import searchBox %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Search for a business or agreement holder</h1>

    <p>Enter a name or location</p>

    <p><span class='subtitle'>Example: Pine Grove Farm or Gloucestershire or GL55</span></p>

    {{ searchBox({
      inputClass: 'govuk-input',
      id: 'searchBox',
      name: 'searchString',
      inputmode: 'string',
      buttonText: 'Search',
      href: '/v2/results'
    }) }}

    <p>You can also <a href="#">download all scheme payment data (.CSV, 345KB)</a>.</p>

  </div>
</div>
{% endblock %}
