* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v5354_28524 {
  width: 100%;
  height: 1897px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5354_28531 {
  width: 626px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 236px;
  left: 140px;
  font-family: GDS Transport Website;
  font-weight: Light;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v5354_28532 {
  width: 623px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 161px;
  left: 140px;
  font-family: GDS Transport;
  font-weight: Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v5354_28533 {
  width: 226px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 629px;
  left: 140px;
  font-family: GDS Transport;
  font-weight: Bold;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v5354_28534 {
  width: 478px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 673px;
  left: 140px;
  font-family: GDS Transport;
  font-weight: Light;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v5354_28565 {
  width: 630px;
  height: 55px;
  background: url("../images/v5354_28565.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 290px;
  left: 140px;
  overflow: hidden;
}
.v5354_28566 {
  width: 10px;
  height: 55px;
  background: rgba(177,180,182,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5354_28567 {
  width: 620px;
  height: 55px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 10px;
  overflow: hidden;
}
.v5354_28568 {
  width: 549px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 25px;
  font-family: GDS Transport Website;
  font-weight: Light;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v5362_35667 {
  width: 960px;
  height: 1px;
  background: rgba(177,180,182,1);
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 140px;
}
.v5354_28572 {
  width: 59px;
  height: 22px;
  background: rgba(29,112,184,1);
  opacity: 1;
  position: absolute;
  top: 69px;
  left: 140px;
  overflow: hidden;
}
.v5354_28573 {
  width: 55px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 70px;
  left: 142px;
  font-family: GDS Transport;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v5354_28574 {
  width: 439px;
  color: url("../images/v5354_28574.png");
  position: absolute;
  top: 69px;
  left: 209px;
  font-family: GDS Transport Website;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v5354_28682 {
  width: 104px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1744px;
  left: 153px;
  font-family: GDS Transport;
  font-weight: Light;
  text-decoration-line: underline;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v5354_28683 {
  width: 5px;
  height: 10px;
  background: url("../images/chev.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1749px;
  left: 141px;
  border: 0px solid rgba(80,90,95,1);
}
.v5354_28589 {
  width: 626px;
  height: 194px;
  background: rgba(31,112,185,1);
  opacity: 1;
  position: absolute;
  top: 390px;
  left: 140px;
  overflow: hidden;
}
.v5354_28590 {
  width: 252px;
  color: rgba(255,255,255,1);
  font-family: GDS Transport;
  font-weight: Bold;
  font-size: 25px;
  position: absolute;
  top: 421px;
  left: 169px;
  opacity: 1;
  text-align: left;
}
.v5354_28591 {
  width: 230px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 455px;
  left: 169px;
  font-family: GDS Transport;
  font-weight: Light;
  opacity: 1;
  text-align: left;
}
.v5354_28592 {
  width: 449px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 489px;
  left: 169px;
  font-family: GDS Transport;
  font-weight: Light;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v5354_28593 {
  width: 138px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 489px;
  left: 599px;
  font-family: GDS Transport;
  font-weight: Light;
  font-size: 19px;
  opacity: 1;
  text-align: right;
}
.v5354_28594 {
  width: 191px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 424px;
  left: 546px;
  font-family: GDS Transport;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: right;
}
.v5354_28668 {
  width: 148px;
  color: rgba(29,112,184,1);
  position: absolute;
  top: 1420px;
  left: 169px;
  font-family: GDS Transport Website;
  text-decoration-line: underline;  
  font-weight: Light;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v5354_28676 {
  width: 119px;
  color: rgba(29,112,184,1);
  position: absolute;
  top: 698px;
  left: 647px;
  font-family: GDS Transport;
  text-decoration-line: underline;
  font-weight: Light;
  font-size: 17px;
  opacity: 1;
  text-align: right;
}
.v5354_28687 {
  width: 626px;
  height: 41px;
  background: url("../images/v5354_28687.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 740px;
  left: 140px;
  overflow: hidden;
}
.v5354_28677 {
  width: 626px;
  height: 41px;
  background: rgba(233,235,235,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5354_28678 {
  width: 295px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 9px;
  left: 20px;
  font-family: GDS Transport;
  font-weight: Bold;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v5354_28679 {
  width: 139px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 9px;
  left: 478px;
  font-family: GDS Transport;
  font-weight: Bold;
  font-size: 19px;
  opacity: 1;
  text-align: right;
}
.v5354_28598 {
  width: 209px;
  color: rgba(29,112,184,1);
  position: absolute;
  top: 1601px;
  left: 140px;
  font-family: GDS Transport;
  text-decoration-line: underline;  
  font-weight: Light;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v5354_28599 {
  width: 209px;
  color: rgba(29,112,184,1);
  position: absolute;
  top: 1635px;
  left: 140px;
  font-family: GDS Transport;
  text-decoration-line: underline;
  font-weight: Light;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v5354_28600 {
  width: 166px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1535px;
  left: 140px;
  font-family: GDS Transport;
  font-weight: Bold;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v5354_28684 {
  width: 80px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1567px;
  left: 140px;
  font-family: GDS Transport;
  font-weight: Light;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v5364_28398 {
  width: 585px;
  background: url("../images/v5364_28398.png");
  opacity: 1;
  position: absolute;
  top: 1267px;
  left: 170px;
  border: 0.5px solid rgba(217,217,217,1);
}
.v5364_28412 {
  width: 585px;
  background: url("../images/v5364_28412.png");
  opacity: 1;
  position: absolute;
  top: 994px;
  left: 170px;
  border: 0.5px solid rgba(217,217,217,1);
}
.v5364_28413 {
  width: 585px;
  background: url("../images/v5364_28413.png");
  opacity: 1;
  position: absolute;
  top: 963px;
  left: 170px;
  border: 0.5px solid rgba(217,217,217,1);
}
.v5364_28399 {
  width: 585px;
  background: url("../images/v5364_28399.png");
  opacity: 1;
  position: absolute;
  top: 1298px;
  left: 170px;
  border: 0.5px solid rgba(217,217,217,1);
}
.v5364_28400 {
  width: 595px;
  background: url("../images/v5364_28400.png");
  opacity: 1;
  position: absolute;
  top: 1390px;
  left: 160px;
  border: 2px solid rgba(217,217,217,1);
}
.v5364_28401 {
  width: 595px;
  background: url("../images/v5364_28401.png");
  opacity: 1;
  position: absolute;
  top: 1086px;
  left: 160px;
  border: 2px solid rgba(217,217,217,1);
}
.v5359_28701 {
  width: 485px;
  color: rgba(79,90,95,1);
  position: absolute;
  top: 833px;
  left: 160px;
  font-family: GDS Transport;
  font-weight: Light;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v5359_28713 {
  width: 485px;
  color: rgba(79,90,95,1);
  position: absolute;
  top: 1137px;
  left: 160px;
  font-family: GDS Transport;
  font-weight: Light;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v5359_28702 {
  width: 379px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 802px;
  left: 160px;
  font-family: GDS Transport;
  font-weight: Light;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v5359_28715 {
  width: 379px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1106px;
  left: 160px;
  font-family: GDS Transport;
  font-weight: Light;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v5359_28704 {
  width: 113px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 805px;
  left: 642px;
  font-family: GDS Transport;
  font-weight: Light;
  font-size: 19px;
  opacity: 1;
  text-align: right;
}
.v5359_28717 {
  width: 113px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1109px;
  left: 642px;
  font-family: GDS Transport;
  font-weight: Light;
  font-size: 19px;
  opacity: 1;
  text-align: right;
}
.v5359_28705 {
  width: 113px;
  color: rgba(79,90,95,1);
  position: absolute;
  top: 967px;
  left: 642px;
  font-family: GDS Transport;
  font-weight: Light;
  font-size: 17px;
  opacity: 1;
  text-align: right;
}
.v5359_28718 {
  width: 113px;
  color: rgba(79,90,95,1);
  position: absolute;
  top: 1271px;
  left: 642px;
  font-family: GDS Transport;
  font-weight: Light;
  font-size: 17px;
  opacity: 1;
  text-align: right;
}
.v5359_28706 {
  width: 113px;
  color: rgba(79,90,95,1);
  position: absolute;
  top: 997px;
  left: 642px;
  font-family: GDS Transport;
  font-weight: Light;
  font-size: 17px;
  opacity: 1;
  text-align: right;
}
.v5359_28719 {
  width: 113px;
  color: rgba(79,90,95,1);
  position: absolute;
  top: 1301px;
  left: 642px;
  font-family: GDS Transport;
  font-weight: Light;
  font-size: 17px;
  opacity: 1;
  text-align: right;
}
.v5359_28707 {
  width: 113px;
  color: rgba(79,90,95,1);
  position: absolute;
  top: 937px;
  left: 642px;
  font-family: GDS Transport;
  font-weight: Light;
  font-size: 17px;
  opacity: 1;
  text-align: right;
}
.v5359_28720 {
  width: 113px;
  color: rgba(79,90,95,1);
  position: absolute;
  top: 1241px;
  left: 642px;
  font-family: GDS Transport;
  font-weight: Light;
  font-size: 17px;
  opacity: 1;
  text-align: right;
}
.v5359_28708 {
  width: 458px;
  color: rgba(29,112,184,1);
  position: absolute;
  top: 1039px;
  left: 160px;
  font-family: GDS Transport;
  text-decoration-line: underline;
  font-weight: Light;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v5359_28721 {
  width: 458px;
  color: rgba(29,112,184,1);
  position: absolute;
  top: 1343px;
  left: 160px;
  font-family: GDS Transport;
  text-decoration-line: underline;  
  font-weight: Light;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v5359_28726 {
  width: 12px;
  height: 14px;
  background: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1424px;
  left: 144px;
}
.v5364_28386 {
  width: 119px;
  color: rgba(79,90,95,1);
  position: absolute;
  top: 906px;
  left: 160px;
  font-family: GDS Transport;
  font-weight: Light;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v5364_28396 {
  width: 119px;
  color: rgba(79,90,95,1);
  position: absolute;
  top: 1210px;
  left: 160px;
  font-family: GDS Transport;
  font-weight: Light;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v5364_28402 {
  width: 104px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 130px;
  left: 153px;
  font-family: GDS Transport;
  font-weight: Light;
  text-decoration-line: underline;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v5364_28403 {
  width: 5px;
  height: 10px;
  background: url("../images/chev.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 136px;
  left: 141px;
  border: 0px solid rgba(80,90,95,1);
}
.v5364_28404 {
  width: 257px;
  color: rgba(79,90,95,1);
  position: absolute;
  top: 936px;
  left: 162px;
  font-family: GDS Transport;
  font-weight: Light;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v5364_28409 {
  width: 459px;
  color: rgba(79,90,95,1);
  position: absolute;
  top: 1240px;
  left: 162px;
  font-family: GDS Transport;
  font-weight: Light;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v5364_28406 {
  width: 257px;
  color: rgba(79,90,95,1);
  position: absolute;
  top: 966px;
  left: 162px;
  font-family: GDS Transport;
  font-weight: Light;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v5364_28410 {
  width: 396px;
  color: rgba(79,90,95,1);
  position: absolute;
  top: 1270px;
  left: 162px;
  font-family: GDS Transport;
  font-weight: Light;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v5364_28407 {
  width: 257px;
  color: rgba(79,90,95,1);
  position: absolute;
  top: 996px;
  left: 162px;
  font-family: GDS Transport;
  font-weight: Light;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v5364_28411 {
  width: 257px;
  color: rgba(79,90,95,1);
  position: absolute;
  top: 1300px;
  left: 162px;
  font-family: GDS Transport;
  font-weight: Light;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v5359_28729 {
  width: 100%;
  height: 49px;
  background: rgba(11,12,12,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v5359_28730 {
  width: 372px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 470px;
  font-family: GDS Transport;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v5359_28732 {
  width: 166px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 182px;
  font-family: GDS Transport;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v5364_28384 {
  width: 36px;
  height: 26px;
  background: url("../images/Icon_crown.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 140px;
}
.v5359_28734 {
  width: 960px;
  height: 10px;
  background: rgba(29,112,184,1);
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 140px;
  overflow: hidden;
}