<!DOCTYPE html><html><head><link href="https://fonts.googleapis.com/css?family=GDS+Transport&display=swap" 
    rel="stylesheet" /><link href="https://fonts.googleapis.com/css?family=GDS+Transport+Website&display=swap" 
    rel="stylesheet" /><link href="./public/stylesheets/details2.css" 
    rel="stylesheet" /><title>Document</title></head><body>
        <div class="v5354_28386"><div class="v5354_28387"></div>
        <div class="v5354_28388"><div class="v5354_28389"><span class="v5354_28390">Related content</span>
        </div>
        <div class="v5354_28391"><span class="v5354_28392">Funding for farmers and land managers</span>
        </div>
    </div>
    <span class="v5354_28396">Business location: Gloucestershire, Cheltenham, GL55</span>
    <span class="v5354_28397">T R Carter & Co</span>
    <span class="v5354_28400">Payment summary</span>
    <span class="v5354_28401">See payments by financial year (1 April to 31 March).</span>
    
<div class="v5354_28402">
    <div class="v5354_28403"></div>
        <span class="v5354_28404">Payments to date</span>
        <span class="v5354_28404a">Payments to date</span>
From April 2021 to March 2024

</span>

<span class="v5354_28405">£114,000</span>
<span class="v5354_28406">View details</span>
</div>
<div class="v5354_28408"><div class="v5354_28409"></div>
<span class="v5354_28410">Farming Equipment and Technology Fund</span>
<span class="v5354_28411">£28,500</span>
<span class="v5354_28412">Show details</span>
<span class="v5354_28413">Grants and related activities for investing in new technology</span>
</div>
<div class="v5354_28414"><div class="v5354_28415"></div>
<span class="v5354_28416">Sustainable Farming Incentive pilot</span>
<span class="v5354_28417">£28,500</span>
<span class="v5354_28418">Show details</span>
<span class="v5354_28419">To improve productivity and efficiency for farming, horticultural and forestry businesses.</span>
</div>
<div class="v5354_28420"><div class="v5354_28421"></div>
<span class="v5354_28422">Local Nature Recovery</span>
<span class="v5354_28423">£28,500</span>
<span class="v5354_28424">Show details</span>
<span class="v5354_28425">Funding to make space for nature in the farmed landscape and the wider countryside, alongside food production.</span>
</div>
<div class="v5354_28426"><div class="v5354_28427"></div>
<span class="v5354_28428">Countryside Stewardship</span>
<span class="v5354_28429">£28,500</span>
<span class="v5354_28430">Show details</span>
<span class="v5354_28431">Financial incentives for farmers, woodland owners, foresters and land managers to look after and improve the environment.</span>
</div>
<span class="v5354_28432">Open all</span>
<div class="v5354_28457"><div class="v5354_28453"></div>
<div class="v5354_28454"></div>
<span class="v5354_28455">The business location may not match the location of the land itself.</span>
</div>
<div class="v5354_28471"><div class="v5354_28468"></div>
<div class="v5354_28470"><div class="v5354_28464"></div>
<span class="v5354_28465">BETA</span>
</div>
<span class="v5354_28466">This is a new service – your feedback will help us to improve it.</span>
</div>
<div class="v5354_28494"><div class="v5354_28493"><div class="v5354_28484"></div>
<span class="v5354_28487">Find farm and land payment data</span>
<div class="v5354_28492"><span class="v5354_28485">GOV.UK</span>
    <div class="v5354_28488"></div>
</div></div>
<div class="v5354_28491"></div>
</div>
<div class="v5354_28518"><span class="v5354_28519">Back to results</span>
    <div class="v5354_28520"></div>
</div>
</div>
</body>
</html>