<!DOCTYPE html><html><head><link href="https://fonts.googleapis.com/css?family=GDS+Transport+Website&display=swap" 
    rel="stylesheet" /><link href="https://fonts.googleapis.com/css?family=GDS+Transport&display=swap" 
    rel="stylesheet" /><link href="./public/stylesheets/details.css" 
    rel="stylesheet" /><title>T R Carter & Co</title>
</head>
<body>
    <div class="v5354_28524"><span class="v5354_28531">Business location: Gloucestershire, Cheltenham, GL55</span>
        <span class="v5354_28532">T R Carter & Co</span>

        <span class="v5354_28533">Payment summary</span>
        <span class="v5354_28534">See payments by financial year (1 April to 31 March).</span>
        <div class="v5354_28565"><div class="v5354_28566"></div>
        <div class="v5354_28567"></div>

        <span class="v5354_28568">The business location may not match the location of the land itself.</span>
    </div>
    <div class="v5362_35667"></div>
    <div class="v5354_28572"></div>
    <span class="v5354_28573">BETA</span>
    <span class="v5354_28574">This is a new service – your 
        <a href="https://www.gov.uk/government/collections/sustainable-farming-incentive-guidance">feedback</a>
        will help us to improve it.</span>
    
    <span class="v5354_28682">Back to results</span>
    <div class="v5354_28683"></div>
    <div class="v5354_28589"></div>
    <span class="v5354_28590">Payments to date</span>
    <span class="v5354_28591">From April 2021 to March 2022</span>
    <span class="v5354_28592">
        • Farming Equipment and Technology Fund<br>
        • Sustainable Farming Incentive pilot
    </span>

<span class="v5354_28593">
    £10,000
    £10,000
</span>

<span class="v5354_28594">£20,000</span>
<span class="v5354_28668">Report a problem</span>
<span class="v5354_28676">Hide details</span>
<div class="v5354_28687"><div class="v5354_28677"></div>
<span class="v5354_28678">1 April 2021 to 31 March 2022</span>
<span class="v5354_28679">£20,000</span>
</div>
<span class="v5354_28598">• start a new search</span>
<span class="v5354_28599">• print this page</span>
<span class="v5354_28600">More actions</span>
<span class="v5354_28684">You can:</span>
<div class="v5364_28398"></div>
<div class="v5364_28412"></div>
<div class="v5364_28413"></div>
<div class="v5364_28399"></div>
<div class="v5364_28400"></div>
<div class="v5364_28401"></div>
<span class="v5359_28701">To improve productivity and efficiency for farming, horticultural and forestry businesses.</span>
<span class="v5359_28713">Helping farmers manage land to improve food production that is more environmentally sustainable.</span>
<span class="v5359_28702">Farming Equipment and Technology Fund</span>
<span class="v5359_28715">Sustainable Farming Incentive pilot</span>
<span class="v5359_28704">£10,000</span>
<span class="v5359_28717">£10,000</span>
<span class="v5359_28705">£3,000</span>
<span class="v5359_28718">£3,000</span>
<span class="v5359_28706">£5,000</span>
<span class="v5359_28719">£5,000</span>
<span class="v5359_28707">£2,000</span>
<span class="v5359_28720">£2,000</span>
<span class="v5359_28708">Read more about the Sustainable Farming Incentive pilot</span>
<span class="v5359_28721">Read more about the Sustainable Farming Incentive pilot</span>
<div class="v5359_28726"></div>
<span class="v5364_28386">Payments for:</span>
<span class="v5364_28396">Payments for:</span>
<span class="v5364_28402">Back to results</span>
<div class="v5364_28403"></div>
<span class="v5364_28404">• horticulture</span>
<span class="v5364_28409">• arable and horticultural soils (introductory level)</span>
<span class="v5364_28406">• forestry</span>
<span class="v5364_28410">• improved grassland soils (intermediate level)</span>
<span class="v5364_28407">• resource management</span>
<span class="v5364_28411">• pilot participation</span>
<div class="v5359_28729"></div>

<span class="v5359_28730">Find farm and land payment data</span>
<span class="v5359_28732">GOV.UK</span>
<div class="v5364_28384"></div>
<div class="v5359_28734"></div>

</div>
</body>
</html>