{% extends "./layout.html" %}

{% block pageTitle %}
Find farm and land payment data 
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

  {{ govukHeader({
    serviceName: serviceName,
    serviceUrl: "/v2/start.html"
  }) }}

{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Find farm and land payment data
      </h1>

      <p>Check agricultural scheme payments to farmers and land managers in England.</p>
    </div>

  </div>


 


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds app-mainstream-guide-body">
      
      <hr class="default">
      <br>
      <div>
        <h1 id="Prototypes" class="govuk-heading-xl">
          Prototypes
        </h1>
  
        <p><strong>Latest prototype</strong></p>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Version 2
            </span>
          </summary>
          <div class="govuk-details__text">
        
            <a href="v2/start.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
              View prototype V2</a>
  
          <p><strong>Password:</strong> MPDP</p>
          <p>We continued testing the user research-backed features of version 1 and also introduced new features and functionality to improve the user experience.</p>
          <p>Thanks to user research findings, we developed the service in a number of ways, including improvements to search result relevance, search functionality and clarity of information.</p>
          
          <p><strong>User testing</strong></p>
          <p>Focus:<br>
          • aggregated data page<br>
          • summary of payments<br>
          • results and amounts<br>
          • layout, headers and tables<br>
          • CSV download</p>
        
          <p><strong>Key design changes</strong></p>
          <p>
          • filters on the results screen to help users find their desired results<br>
          • tagging to give the filters more visible context<br>
          • a link to ‘Funding for farmers and land managers’ guidance so users can look into future funding opportunities<br>
          • improving search engine capacity for multiple search criteria - this gives users more search flexibility<br>
          • a ‘sort by’ component to help users order their results as required</p>

  
        </div>
        </details>
  
  
  
        <p>Previous prototypes</p>
  
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Version 1
            </span>
          </summary>
          <div class="govuk-details__text">
  
            <a href="v1/start.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
              View prototype V1</a>
           
            <p><strong>Password:</strong> MPDP</p>
            <p>For our first iteration of the prototype, we started simply, using GOV.UK content and interaction principles, and referring to the legislation that has provided the rationale for creating the service.</p>
            <p>As a result of findings in the discovery phase, and some emerging UR themes, we sought to provide a simple and easy-to-use service that would provide a basis for future development in the next version.</p>
            
            <p><strong>Meeting the needs of users</strong></p>
          <p>
            • provided a simple results page with minimal supporting context (to test users’ understanding)<br>
            • used a year-led design with schemes sitting under their respective financial year - this would allow future scalability<br>
            • linked to scheme guidance to give further details on scheme structure<br>
            • provided aggregated data through a CSV download link with supporting context<br>
            • included a call-out message specifying a single financial year of data was available<br>
          </p>
  
  
  
          </div>
        </details>
      </div>


      <hr class="default">

<br><br>

      <div>
      <h1 id="Vision" class="govuk-heading-xl">
        Vision
      </h1>

      <h2 class="govuk-heading-m">
        Making Defra’s payments accessible and transparent
      </h2>
      
      <p>To provide a valuable resource for farmers, businesses, and other stakeholders who are interested in learning more about the government's agricultural support.</p>
     
      <p><strong>Benefits</strong></p>
      <p>
        We need to:<br>
        • make sure that we use public money effectively and efficiently<br>
        • provide farmers with the information they need to make informed decisions about how to apply for government support<br>
        • build trust between farmers and the government<br>
        • promote transparency and accountability in the use of public funds<br>
        • educate the public about the importance of agriculture and the role that farmers play in the UK economy<br>
        • raise awareness of the challenges facing farmers and the need for government support<br>
        • build support for government policies that support farmers<br>
      </p>

      <p><strong>Service version history</strong></p>
      <p>As an agile team, we need to continually iterate our service to adapt to emerging needs after feedback from both policy teams and user research sessions. By developing the service in this way, we can help users reach the information they need as quickly as possible.</p>

      <p><strong>Content principles</strong></p>
      <p>To make sure the service works for users both inside and outside the agricultural industry, we must:</p>
      <p>
        • give clear instructions on what the service includes (payment details, schemes, time period)<br>
        • only publish information that is not already published elsewhere<br>
        • use technical terms where relevant with a clear explanation of their meaning<br>
        • link to the relevant supporting guidance to give extra context where necessary<br>
        • use the GOV.UK style guide to create a tone of voice that users can trust and understand<br>
      </p>



      <p><strong>Interaction principles</strong></p>

      <p>
        Our service must:<br>
        • meet the government service standard<br>
        • meet current web standards<br>
        • meet user and organisational needs<br>
        • be simple and intuitive to use<br>
        • work in a way that is familiar<br>
        • be usable by everyone, equally<br>
      </p>

      <br>
      <br>
      <hr class="default">


      <br>
      <br>
      </div>



      
      <div>
      <h1 id="Background" class="govuk-heading-xl">
        Background
      </h1>

      <h2 class="govuk-heading-m">
        Moving from CAP regulations to GOV.UK
      </h2>
      
      <p>The UK government is working with farmers, businesses, and other stakeholders to develop a new agricultural policy framework after leaving the European Union. This new framework will support farmers to produce high-quality food, protect the environment, and create jobs in rural areas.</p>
      <p>The ‘Find farm and land payment data’ service will show how public money is being spent to support farmers across the UK.</p>
      
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What data we publish
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>Now that we are no longer in the EU, the rules around what we must publish have changed. This means that we are no longer part of the UK Co-ordinating Body service’s Common Agricultural Policy (CAP) schemes.</p>
          
          Instead, under the Agriculture (Financial Assistance) Regulations 2021 we publish data for the:
          
          <p>• Sustainable Farming Incentive pilot<br>
          • Farming Equipment and Technology Fund</p>

          <p>We only publish data when recipients of these schemes have received total agricultural scheme payments of £1,250 or more.</p>

          <strong>The data includes:</strong>

          <p>
          • full names of agreement holders and businesses<br>
          • partial postcodes, post towns and districts where the agreement holder is resident or located<br>
          • total payments received by the agreement holder in the last financial year<br>
          • a description of the activities financed by the relevant payments</p>

          <p><strong>Tree Health Pilot Scheme</strong></p>
          
          We publish the total figure paid through the scheme as a single amount.</div>
      </details>
    </div>
      
      
      <br>
      <hr class="default">
      <br><br>
      

      
    
<div>
      <h1 id="User Needs" class="govuk-heading-xl">
        User Needs
      </h1>

      <h2 class="govuk-heading-m">
        As a user, I need to...
      </h2>
      
      <p>• find out <strong>who the payment was made to</strong> so that I know who is carrying out the activity on the farm.</p>
      <p>• find out <strong>what the payment was for</strong> so that I can understand what types of activity are being conducted on the farm.</p>
      <p>• <strong>find the service easily</strong> so that I can access the data that I need.</p>
      <p>• have a clear explanation of <strong>what the payment descriptions mean</strong> so that I can be confident I have understood the data I am using.</p>
      <p>• view the <strong>information published about payments made</strong> to me or my company so that I can be assured it is accurate.</p>
      <p>• <strong>correct any errors in the data published about me</strong> so that I can exercise my statutory rights of rectification.</p>
      <p>• <strong>search for farms and businesses with similar names</strong> so that I don't have to conduct multiple searches when I don't know the exact name of the business I'm looking for (fuzzy matching).</p>
      <br>

      <br>
    </div>


    <hr class="default">
    <br><br>


<div>
      <h1 id="Links" class="govuk-heading-xl">
        Links
      </h1>

      <h2 class="govuk-heading-m">
        Access our working environments
      </h2>
      
      <p><strong>MURAL</strong></p>
      <p>Mural provides an accessible and centralised location for cross-functional teams to think visually and drive increased communication, coordination, and transparency while working together.</p>
      <p>• <a class="govuk-breadcrumbs__link" target="_blank" href="https://app.mural.co/t/mpdpucd8112/m/mpdpucd8112/1654518106487/94f87bced0b1d81df7e8aa53662275e8974b599e?sender=u2b2344f21c908ae6cdf92129">MURAL board 1: User Research</a></p>
      <p>• <a class="govuk-breadcrumbs__link" target="_blank" href="https://app.mural.co/t/mpdpucd8112/m/mpdpucd8112/1656665970941/6de8ccd594e10e08b2349410d6df5eaf8ef2d11f?sender=u2b2344f21c908ae6cdf92129">MURAL board 2: Usability Testing</a></p>
      <p>• <a class="govuk-breadcrumbs__link" target="_blank" href="https://app.mural.co/t/makingpaymentdatapublic4889/m/makingpaymentdatapublic4889/1648542869931/230e2508e4d1cba6054e8e33a8fc17c558f6557b?wid=0-1653900776783&sender=u2b2344f21c908ae6cdf92129">MURAL board 3: Delivery</a></p>
      <p>• <a class="govuk-breadcrumbs__link" target="_blank" href="https://app.mural.co/t/makingpaymentdatapublic4889/m/makingpaymentdatapublic4889/1648055862861/6cfb59312e33eafb49381c823355c1d13df87938?wid=0-1655210518304&sender=u2b2344f21c908ae6cdf92129">MURAL board 4: Product</a></p>

      <br>

      <p><strong>FIGMA</strong></p>
      <p>Figma is a collaborative web application for interface design, with additional offline features enabled by desktop applications for macOS and Windows.</p>
      <p>• <a class="govuk-breadcrumbs__link" href="https://www.figma.com/file/T1V1tWDJfOwbGGa3nng4rt/MPDP?node-id=6241-32584&t=uqcFbJW18vkFG48Y-4">FIGMA board 1</a></p>
      <br>
    </div>


<br>

<p><a href="#Prototypes">Back to the top</a></p>



      
    </div>


    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Quick Links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="v2/start.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                Latest Prototype (V2)</a>
            </li>
            <li>
              <a href="#Prototypes">
                Prototypes
              </a>
            </li>
            <li>
              <a href="#Vision">
                Vision
              </a>
            </li>
            <li>
              <a href="#Background">
                Background
              </a>
            </li>
            <li>
              <a href="#User Needs">
                User Needs
              </a>
            </li>
            <li>
              <a href="#Links">
                Links
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
