{% extends "layout.html" %}

{% block pageTitle %}
  Start page – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block header %}
  <!-- Blank header with no service name for the start page -->

  {{ govukHeader({
    serviceName: serviceName,
    serviceUrl: "/start.html"
  }) }}

{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p>Check agricultural scheme payments to farmers and land managers in England.</p>
      <p>Use this service to view payments from the:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Sustainable Farming Incentive pilot</li>
        <li>Farming Equipment and Technology Fund</li>
      </ul>


      <div class="govuk-inset-text">
        This service only shows payments received between 1 April 2021 and 31 March 2022.
      </div>



      <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        What data we publish
      </span>
    </summary>
    <div class="govuk-details__text">

<p>The data we publish varies for different schemes and depends on the total funding a business has received.  </p>
<p>Payment data will remain online for 3 years from the date we publish it.</p>
<p> <strong>Sustainable Farming Incentive and the Farming Equipment and Technology Fund</strong>  </p>
<p>When a business has received total agricultural scheme payments of £1,250 or more, we publish: </p>

<ul class="govuk-list govuk-list--bullet">
  <li>full names of agreement holders and businesses</li>
  <li>partial postcodes, post towns and districts where the agreement holder is resident or located</li>
  <li>total payments received by the agreement holder in the last financial year</li>
  <li>a description of the activities financed by the relevant payments</li>
</ul>

<p>Read more about the
  <a href="https://www.gov.uk/government/collections/sustainable-farming-incentive-guidance">Sustainable Farming Incentive pilot</a>
  and the
  <a href="https://www.gov.uk/guidance/farming-equipment-and-technology-fund-round-1-manual">Farming Equipment and Technology Fund</a>
<p> <strong>Tree Health Pilot Scheme</strong>  </p>
<p>We publish the total figure paid through the scheme as a single amount. </p>
<p>Read more about the <a href="https://www.gov.uk/guidance/tree-health-pilot-scheme">Tree Health Pilot Scheme</a> </p>


    </div>
  </details>


      <a href="/content" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>


      <p>You can also <a href="#">download all scheme payment data (.CSV, 345KB)</a> from the:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Tree Health Pilot Scheme</li>
        <li>Sustainable Farming Incentive pilot</li>
        <li>Farming Equipment and Technology Fund</li>
      </ul>

      <br>
      <p>Search for payments from other <a href="https://cap-payments.defra.gov.uk/Default.aspx">Common Agricultural Policy (CAP) schemes.</a></p>


    </div>

    <div class="govuk-grid-column-one-third">



    </div>
  </div>
{% endblock %}
